# Virtual environment
venv/
Lib/
Scripts/
share/

# Python
*.pyc
*.pyo
__pycache__/

# Dependency management files
Pipfile.lock
poetry.lock
.env

# Docker
*.db
.dockerignore
.docker/

# Django
db.sqlite3

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
